<%- include('./parts/header') %> 
<%- include('./parts/navbar') %> 
 <!-- Start Page Banner -->
 <div class="page-banner-area item-bg3">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-banner-content">
                    <h2>Checkout</h2>
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>Checkout</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Banner -->

<!-- Start Checkout Area -->
<section class="checkout-area ptb-100">
    <%- include('./parts/messages') %> 
    <div class="container">
        <form   method="POST">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="billing-details">
                        <h3 class="title">Billing Details</h3>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>First Name <span class="required">*</span></label>
                                    <input required name="firstName" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Last Name <span class="required">*</span></label>
                                    <input required name="lastName" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-6">
                                <div class="form-group">
                                    <label>Address <span class="required">*</span></label>
                                    <input required name="address" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-6">
                                <div class="form-group">
                                    <label>Town / City <span class="required">*</span></label>
                                    <input required name="townOrCity" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Postcode / Zip <span class="required">*</span></label>
                                    <input required  name="postcode" type="text" class="form-control" maxlength="6">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="order-details">
                        <h3 class="title">Your Order</h3>
                        <div class="order-table table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Product Name</th>
                                        <th scope="col">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% userProdcuts = userProdcuts.reverse() %> 
                                    <% for(let product of userProdcuts){ %> 
                                        <tr>
                                            <td class="product-name">
                                                <a href="/shopDetails/<%=product.proname %>">
                                                    <%= product.proname %> 
                                                </a>
                                            </td>
                                            <td class="product-total">
                                                <span class="subtotal-amount">$<%= product.price*product.quantity %></span>
                                            </td>
                                        </tr>
                                    <% }%> 
                                    <tr>
                                        <td class="total-price">
                                            <span>Order Total</span>
                                        </td>
                                        <% let sum =0; %> 
                                        <% let shipping = userProdcuts.length==0 ? 0 :30 %> 
                                        <% for(let value of userProdcuts){ %> 
                                            <% sum +=value.price*value.quantity %> 
                                        <%}  %> 
                                        <input name="total" type="number" style="display: none;" value="<%=sum+shipping%>">
                                        <td class="product-subtotal">
                                            <span class="subtotal-amount">$<%=sum+shipping%> </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="payment-box">
                            <div class="payment-method">
                                <p>
                                    <input  class="radioButtons"  type="radio" id="paypal" value="paypal" name="radio-group">
                                    <label for="paypal">PayPal</label>
                                </p>
                                <p class="cardNumberInfo" style="display: none;">
                                    <label for="cardnum">
                                        Card Number
                                        <input class="form-control" id="cardnum" name="cardnumber" type="text" maxlength="19">
                                    </label>
                                    <label for="cvcode">
                                        CVC code 
                                        <input  class="form-control" id="cvcode" name="cvccode" type="text" minlength="3" maxlength="4">
                                    </label>
                                </p>
                                <p>
                                    <input class="radioButtons" type="radio" id="cash-on-delivery" value="cash" name="radio-group" checked>
                                    <label for="cash-on-delivery">Cash on Delivery</label>
                                </p>
                            </div>
                            <% if(userProdcuts.length!=0) {%>
                                <button style="border: none; outline: none;"  type="submit" class="default-btn">
                                    Place Order
                                </button> 
                            <% }%> 
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- End Checkout Area -->        
<%- include('./parts/footer') %> 